
@import "~@ui.packages/theme";


.wrapper {

  position: relative;
  display: inline-block;
}

.wrapper:hover .profile {

  background: rgba($pale-grey, .2);
}
.wrapper:hover .options {

  display: block;
}

.profile {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 12px 15px 12px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms;
}

.icon {

  display: block;
  font-size: 20px;
}

.row {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 12px;
}

.name {

  display: block;
  font-size: 14px;
  font-weight: 600;
  color: $white;
}

.role {

  display: block;
  margin: 4px 0 0;
  font-size: 10px;
  font-weight: 600;
  color: $blue-grey;
}

.options {

  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  width: 200px;
  padding: 8px 0 0;
  z-index: 9999;
}

.list {

  display: block;
  background: $white;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 #e2e2ea;
  border: 1px solid $pale-lilac;
}

.option {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background 200ms;

  &:hover {
    background: $pale-grey;
  }

  & + & {

    margin: 4px 0 0;
  }
}

.option .icon {

  color: $coal-dark;
  text-decoration: none;
}

.option .label {

  display: inline-block;
  color: $coal-dark;
  margin: 0 0 0 10px;
  font-size: 14px;
  text-decoration: none;
}

.sign-out {

  &:hover {

    background: rgba($danger, .1);
  }

  .icon,
  .label {
    color: $danger;
  }
}

.delimiter {

  display: block;
  height: 1px;
  background: $pale-lilac;
  margin: 8px 0;
}
