
@import "~@ui.packages/theme";


.header {

  display: flex;
  flex: 1 0;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.controls {

  display: block;
}

.logotype {

  display: inline-block;
}
