
@import "~@ui.packages/theme";


.spinner {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.icon {

  font-size: 18px;
  color: $success;
  margin: 0 10px 0 0;
}
