
@import "~@ui.packages/theme";


.item {

  display: block;
  color: $coal-dark;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: color 200ms, background 200ms;

  & + & {
    margin: 8px 0 0;
  }

  &:hover {

    color: $primary;
  }

  &--active,
  &--active:hover {

    color: $primary;
  }
}

.link {

  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 14px;
  color: inherit;
  outline: none;
}


.icon {

  display: inline-block;
  font-size: 18px;
  color: inherit;
  width: 22px;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.text {

  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  color: inherit;
  vertical-align: middle;
}
