
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  background: url("./noise.png"), $coal-dark;
  justify-content: center;
  align-items: center;
}
