
@import "~@ui.packages/theme-2";


.wrapper {

  display: block;
  height: 216px;

  & + * {
    margin: 16px 0 0;
  }
}

.container {

  position: relative;
  display: block;
}

.header {

  display: block;
}

.name {

  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: $white;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 8px 0 0;
  background: rgba($gray-darken, .8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  overflow: hidden;
}

.gallery {

  display: block;
  width: 160px;
  height: 160px;
  background: $gray;
  text-decoration: none;
}

.information {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 16px;
}

.modes {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.cart {

  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  display: flex;
  flex-direction: row;
  flex: 1 0;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
}

.price {

  position: absolute;
  top: 100%;
  right: 80px;
  display: block;
  padding: 8px 0 0;
}

.unavailable {

  position: absolute;
  left: 8px;
  bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  color: $danger-lighten;
}
