
@import "~@ui.packages/theme";


.notifications {

  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex: 0 0;
  flex-direction: column;
  width: 400px;
  z-index: 900000;

  &__content {

    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}
