
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  overflow: hidden;

  & + & {

    margin: 8px 0 0;
  }

  &:before {

    display: inline-block;
    counter-increment: product;
    content: counter(product) ".";
    font-size: 13px;
    margin: 0 8px 0 0;
  }
}

.vendor {

  display: block;
  white-space: nowrap;
}

.title {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 8px;
  white-space: nowrap;
  overflow: auto;
}

.value {

  display: block;
  white-space: nowrap;
  margin: 0 0 0 8px;
}

.price {

  display: block;
  white-space: nowrap;
  margin: 0 0 0 8px;
}

.number {

  display: block;
  white-space: nowrap;
}

.delimiter {

  display: inline-block;
  font-size: 14px;
  color: $coal-dark;
  margin: 0 8px;
}
