
@import "~@ui.packages/theme-2";


.wrapper {

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  background-color: $gray-darken;
  background-image: url("./food.svg");
  background-size: 160px;
  background-position: center;
  padding: 8px 16px;
  box-shadow: 0 2px 6px 0 rgba(black, 20%);
  align-items: center;
}

.logotype {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.menu {

  display: block;
}

.content {

  display: block;
}

.link {

  display: inline-block;
}
