
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.common {

  display: block;
  border: 1px solid $pale-lilac;
  border-radius: 8px;
  padding: 40px 32px 48px;
  background: $white;
}

.products {

  display: block;
  border: 1px solid $pale-lilac;
  border-radius: 8px;
  padding: 40px 32px 48px;
  background: $white;
  margin: 40px 0 0;
}