
@import "~@ui.packages/theme-2";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  width: 1200px;
}

@media only screen and (max-width: 1280px) {

  .wrapper {

    width: 900px;
  }
}

.filter {

  display: block;
  width: 240px;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 40px;
}
