
$background:     #333333  !default;

$white:          #ffffff  !default;

$primary:        #3859AF  !default;

$success:        #38AF4B  !default;

$gray-lighten:   #787878  !default;
$gray:           #636363  !default;
$gray-darken:    #525252  !default;

$info-lighten:   #DED04E  !default;
$info:           #C7B82F  !default;
$info-darken:    #B4A631  !default;