
$danger:           #b9311b !default;
$warning:          #da6926 !default;
$success:          #1bb934 !default;
$primary:          #077dee !default;
$information:      #ffc542 !default;

$black:            #000000 !default;
$coal-dark:        #171725 !default;
$dark-grey:        #354052 !default;
$charcoal-grey:    #44444f !default;
$blue-grey:        #92929d !default;
$gray:             #c2c2c2 !default;
$pale-lilac:       #e2e2ea !default;
$pale-grey:        #fafafb !default;
$very-light-pink:  #f7f7f7 !default;
$whitesmoke:       #f6f6f4 !default;
$white:            #ffffff !default;
