
@import "~@ui.packages/theme";


.container {

  display: block;
}

.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: $white;
  padding: 8px;
  border: 1px solid $pale-lilac;
  border-radius: 4px;
  z-index: 9999;
  box-shadow: none;
  transition: box-shadow 1000ms, border-color 1000ms;

  & + & {

    margin: 8px 0 0;
  }
}

.handle {

  display: inline-flex;
  flex-direction: column;
  flex: 0 0;
  justify-content: center;
  cursor: grabbing;
}

.helper {

  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2);
  border-color: $blue-grey;
}

.helper .icon,
.handle:hover .icon {

  color: $primary;
}

.icon {

  font-size: 16px;
  color: $pale-lilac;
  transition: color 200ms;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 16px;
}
