
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: flex-end;
  width: 450px;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.controls {

  display: block;
  margin: 0 0 0 24px;
}