
@import "~@ui.packages/theme-2";


.button {

  position: relative;
  display: inline-block;
  padding: 16px 32px 14px;
  font-size: 16px;
  font-weight: 600;
  color: $white;
  background: $primary;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 200ms;

  &:hover {

    background: $primary-lighten;
  }

  &:disabled {

    background: $gray-darken;
    color: $gray-lighten;
  }
}

.in-process,
.in-process:focus,
.in-process:active {

  color: transparent;
}

.mode {

  &--success {
    background: $success;

    &:hover {
      background: $success-lighten;
    }
  }

  &--danger {
    background: $danger;

    &:hover {
      background: $danger-lighten;
    }
  }
}

.size {

  &--small {

    padding: 10px 24px 10px;
    font-size: 13px;
  }
}
