
@import "~@ui.packages/theme";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: rgba($white, .15);
  border-radius: 5px;
  padding: 10px;
  color: $blue-grey;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  transition: color 200ms;

  &:hover,
  &.is-open {
    color: $white;
  }
}

.icon {

  display: inline-block;
  font-size: 20px;
}

.arrow {

  font-size: 10px;
  margin: 0 0 0 10px;
}

.has-inside {

  position: absolute;
  top: 5px;
  right: 25px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba($danger, .6);
}
