
@import "~@ui.packages/theme";


.dashboard {

  &__header {

    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
  }

  &__left,
  &__right {

    display: block;
    padding: 13px;
    color: $gray;
    transition: color 200ms;

    &:hover {
      color: $coal-dark;
    }
  }

  &__center {

    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__content {

    display: block;
    margin: 8px 0 0;
  }
}

.month {

  &__prev {

    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }

  &__next {

    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
}