
@import "~@ui.packages/theme-2";


.wrapper {

  display: block;
  width: 1200px;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0 0 40px;
}

.content {

  display: block;
}

.description {

  display: block;

  & > * + * {
    margin: 24px 0 0;
  }
}

.controls {

  display: block;
  margin: 80px 0 0;
}

.comments {

  display: block;
  margin: 56px 0 0;
}
