
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 900px;
}

.section {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {

    margin: 60px 0 0;
  }
}
