
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  text-decoration: none;

  & + & {

    margin: 15px 0 0;
    border-top: 1px solid $pale-lilac;
    padding: 15px 0 0;
  }
}

.product {

  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 0;
  cursor: pointer;
  overflow: auto;
}

.promo {

  display: flex;
  width: 80px;
  height: 80px;
  z-index: 10;
}

.description {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 20px;
  justify-content: center;
  overflow: auto;
}

.brand {

  display: block;
}

.name {

  display: block;
  margin: 4px 0 0;
}

.uuid {

  display: block;
  margin: 8px 0 0;
}

.controls {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  width: 230px;
}

.quantity {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.price {

  display: block;
  text-align: right;
}

.count,
.number {

  display: inline-block;
  vertical-align: bottom;
}

.full-price {

  display: block;
  text-align: right;
  margin: 4px 0 0;
}

.number {

  margin: 0 0 0 8px;
}

.control {

  display: block;
  margin: 0 0 0 20px;
}

.remove {

  display: inline-block;
  font-size: 14px;
  color: $gray;
  cursor: pointer;
  transition: color 200ms;

  &:hover {

    color: $danger;
  }
}

.discount {

  position: absolute;
  top: 0;
  left: 60px;
  display: block;
  background: $information;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 500;
  color: $coal-dark;
  width: 26px;
  padding: 8px 0;
  text-align: center;
  transform: rotateZ(345deg);
  z-index: 20;
}
