
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  padding: 32px;
  background: $white;
  border: 1px solid $pale-lilac;
  border-radius: 8px;
}

.header {

  display: block;
  margin: 0 0 24px;
}

.row {

  display: block;
}

.user,
.title,
.external-id {

  display: block;

  & + & {
    margin: 8px 0 0;
  }
}

.date-to,
.date-created,
.status {

  display: block;

  & + & {
    margin: 8px 0 0;
  }
}

.controls {

  display: block;
  margin: 16px 0 0;
}

.products {

  display: block;
  counter-reset: product;
}

.total {

  display: block;
  text-align: right;
  margin: 16px 0 0;
}
