
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  background-image: url("./arrow.png"), url("./arrow.png"), url("./net.png");
  background-position: left, right, top;
  background-attachment: scroll, scroll, scroll;
  background-repeat: repeat-y, repeat-y, repeat;
  background-size: 80px, 80px, 80px;
}

.content {

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 1024px;
  z-index: 10;
}

@media screen and (max-width: 600px) {

  .wrapper {

    background-size: 50px, 50px, 60px;
  }
}
