
@import "~@ui.packages/theme-2";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
}

.container {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  padding: 32px 16px 128px;
  overflow: auto;
  z-index: 10;
}

.control {

  display: block;
  background: $background;
  padding: 16px;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
  z-index: 20;
}

.header {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 32px 0 0;
}

.clean {

  display: block;
  color: $danger;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.attention {

  display: block;
  margin: 0 0 16px;
}
