
@import "../../../../../../../node_modules/@ui.packages/theme";


.form {

  display: block;
  width: 380px;
  padding: 0 55px;
  box-sizing: border-box;
}

.content {

  display: block;
}

.controls {

  display: block;
  text-align: center;
  margin: 50px 0 0;
}
