
@import "~@ui.packages/theme-2";


.wrapper {

  display: block;
  width: 1200px;
}

.container {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  overflow: auto;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  overflow: auto;
}

.col {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  overflow: auto;

  & + & {

    margin: 0 0 0 56px;
  }
}

.controls {

  display: block;
  margin: 0 0 0 40px;
}
