
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  min-width: 900px;
  max-width: 1200px;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0 0 40px;
}

.filter {

  display: block;
}

.content {

  display: block;
  margin: 56px 0 0;
}

.controls {

  display: block;
  text-align: right;
}
