
@import "~@ui.packages/theme-2";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 0 0;
  align-items: center;
}

.button {

  display: flex;
  flex-direction: column;
  flex: 0 0 32px;
  justify-content: center;
  align-items: center;
  border: 1px solid $info;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: $info;
  font-size: 22px;
  transition: transform 150ms;

  &:active {
    transform: scale(.95);
  }
}

.number {

  display: block;
  width: 32px;
  color: $white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}