
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.header {

  display: block;
  margin: 0 0 40px;
}


.content {

  display: block;
}

.controls {

  display: block;
  text-align: right;
}
