
@import "~@ui.packages/theme-2";


.wrapper {

  display: block;
  overflow: hidden;
}

.col {

  display: block;

  & + & {

    margin: 12px 0 0;
  }
}

.phone {

  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 2px $background;
  color: $white;
  text-decoration: none;
  background: $warning-darken;
  padding: 4px 8px;
  border-radius: 4px;
}
