
@import "~@ui.packages/theme-2";


.wrapper {

  position: sticky;
  top: 8px;
  display: flex;
  flex-direction: column;
  flex: 0 0;
  backdrop-filter: blur(4px);
  background: rgba($gray-darken, .8);
  border: 1px solid $gray-darken;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  margin: 0 0 24px;
  z-index: 20;
}
