
@import "~@ui.packages/theme-2";


.container {

  display: block;
}

.wrapper {

  display: block;
  border: 1px solid $gray-darken;
  border-radius: 4px;
  background: rgba($background, .8);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 20%);
  padding: 16px;
}

.disabled {

  background: rgba($gray-darken, .4);
  color: $gray-darken;
  box-shadow: none;
}

.label {

  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 0 16px;
  vertical-align: middle;
  color: $white;
  cursor: pointer;
}

.disabled .label {
  color: $gray-lighten;
}

.radio {

  display: inline-flex;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $white;
  outline: none;
  justify-content: center;
  align-items: center;
  transition: background 200ms;
  vertical-align: middle;

  & + & {
    margin: 0 0 0 16px;
  }

  &__marker {

    display: block;
    width: 8px;
    height: 8px;
    background: $success-darken;
    border-radius: 50%;
  }

  &--checked &__marker {

    display: inline-flex;
  }

  &--disabled {

    background: $gray-lighten;
    border-color: $gray-lighten;
    color: $gray-darken;
    cursor: default;
  }
}

.temp {

  display: inline-block;
  font-size: 10px;
  color: $warning;
  margin: 0 0 0 16px;
}
