
@import "~@ui.packages/theme-2";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 8px 0 0;
  background: rgba($gray-darken, .8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  overflow: hidden;

  & + & {
    margin: 16px 0 0;
  }
}

.name {

  display: inline-block;
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  color: $white;
}

.value {

  display: block;
  margin: 8px 0 0;
  font-size: 14px;
  font-weight: 400;
  color: $white;
}

.gallery {

  display: block;
  width: 144px;
  height: 144px;
  background: $gray;
  text-decoration: none;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 16px;
}

.control {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.counter {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.amount {

  display: block;
}

.details {

  display: block;
  text-align: right;
}

.price {

  display: inline-block;
  color: $white;
  font-size: 14px;
  font-weight: 600;
}

.currency {

  display: inline-block;
  color: $white;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 0 4px;
}

.total-price {

  display: inline-block;
  color: $white;
  font-size: 18px;
  font-weight: 600;
}

.total-currency {

  display: inline-block;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 0 4px;
}

.remove {

  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
  width: 22px;
  height: 22px;
  background: $danger url("./remove.svg") center/100% no-repeat;
  background-size: 8px;
  border-radius: 50%;
}
