
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.section {

  display: block;

  & + & {

    margin: 40px 0 0;
  }
}

.header {

  display: block;
  padding: 0 0 0 32px;
}

.content {

  display: block;
  border: 1px solid $pale-lilac;
  border-radius: 8px;
  padding: 40px 32px 48px;
  margin: 8px 0 0;
  background: $white;
}