
@import "~@ui.packages/theme";


.text {

  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  color: $white;
  text-overflow: ellipsis;
  overflow: hidden;
}
