
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  border-radius: 5px;
  border: 1px solid $pale-lilac;
  background: $white;
  padding: 24px;

  & + & {

    margin: 34px 0 0;
  }
}

.common {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.information {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {

  display: block;
}

.title {

  display: block;
}

.status {

  display: block;
  text-align: right;
}

.date {

  display: block;
  text-align: right;
  margin: 16px 0 0;
  text-decoration: underline;
}

.created {

  display: block;
  margin: 16px 0 0;
  text-align: right;
}

.content {

  display: block;
  margin: 16px 0 0;
}

.footer {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-top: 1px solid $pale-lilac;
  margin: 16px 0 0;
  padding: 24px 0 0;
}

.controls {

  display: block;
  border-top: 1px solid $pale-lilac;
  margin: 24px 0 0;
  padding: 16px 0 0;
  text-align: right;
}
