
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  overflow: hidden;
}

.header {

  display: block;
  background: $coal-dark;
}

.container {

  display: flex;
  flex: 1 0;
  flex-direction: row;
  background: $pale-grey;
  overflow: hidden;
  z-index: 10;
}

.navigate {

  display: block;
  width: 230px;
  background: $white;
  box-shadow: 3px 0 4px 1px rgba($pale-lilac, .5);
  z-index: 20;
}

.content {

  position: relative;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  overflow: auto;
  z-index: 10;
}
