
@import "~@ui.packages/theme";


.wrapper {

  background: $white;
}

.table {

  table-layout: fixed;
  width: 100%;
  border: none;
  background: transparent;
}

.empty {

  caption-side: bottom;
  padding: 30px;
  text-align: center;
}

.message {

  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: $coal-dark;
}
