
@import "~@ui.packages/theme-2";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.line {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  flex-wrap: wrap;
  margin: 24px -16px 0;
}

.row {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 50%;
  padding: 16px;
  box-sizing: border-box;
}
