
@import "~@ui.packages/theme";


.header {

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  color: $white;
  align-items: center;
  padding: 0 20px;

  &__title {

    display: flex;
    flex: 1 0 auto;
    padding: 20px 15px;
    flex-direction: column;
  }

  .logotype {

    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    color: $white;
    text-decoration: none;
    letter-spacing: .5px;
  }

  &__cart {

    display: block;
  }
}

.container {

  display: block;
}

.controls {

  display: block;
}

.sign-out {

  font-size: 14px;
  font-weight: 700;
  color: $white;
  cursor: pointer;
  transition: color 200ms;

  &:hover {

    color: $danger;
  }
}
