
@import "~@ui.packages/theme-2";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: row;
  flex: 0 0;
  border-radius: 4px;
  background: $gray-lighten;
  padding: 8px 12px;
  align-items: center;
  transition: background-color 200ms;

  & + & {
    margin: 8px 0 0;
  }
}

.active {

  background: $info-darken;
}

.count {

  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  background: $danger;
  color: $white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 11px;
  font-weight: 600;
  padding: 1px 0 0;
  box-sizing: border-box;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.value {

  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  color: $white;
  vertical-align: middle;
  margin: 0 0 4px;
}
