
@import "~@ui.packages/theme-2";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}

.content {

  display: block;
  text-align: center;
}
