
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  padding: 16px;
  background: $white;
  border: 1px solid $pale-lilac;
  border-radius: 8px;

  & + * {

    margin: 32px 0 0;
  }
}

.header {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  overflow: auto;
}

.user {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
}

.date {

  display: block;
}

.content {

  display: block;
  margin: 16px 0 0;
}

.combine {

  display: block;

  & + * {

    margin: 32px 0 0;
  }
}

.parent {

  display: block;
}

.children {

  display: block;
  margin: 16px 0 0 32px;
}
