
@import "~@ui.packages/theme-2";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 1200px;
}

.header {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 40px 0 0;
}

.products {

  display: block;
}

.details {

  display: block;
  margin: 80px 0 0;
}

.description {

  display: block;
  margin: 64px 0 0;
  text-align: right;
}

.controls {

  display: block;
  margin: 32px 0 0;
  text-align: right;
}
