
@import "~@ui.packages/theme";


.board {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 280px;
  justify-content: space-between;

  &__week {

    display: flex;
    flex: 0 0 auto;
    width: 300px;
    height: 35px;
    flex-direction: row;
    justify-content: space-between;

    &:first-child {

      font-family: inherit;
      font-weight: bold;
      font-size: 14px;
      color: $coal-dark;
    }

    & + & {
      //border-top: 1px solid $pale-lilac;
    }
  }

  &__week:first-child &__day {

    font-weight: bold;
  }

  &__day {

    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 35px;
    height: 34px;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 300;
    font-size: 12px;
    border-radius: 50%;

    & + & {
      //border-left: 1px solid $pale-lilac;
    }

    &--today {
      text-decoration: underline;
      font-weight: 700;
    }

    &--weekend {
      color: $danger;
    }

    &--selected {

      background: $primary;
      font-weight: bold;
      color: $white;
      font-size: 15px;
    }

    &--disabled {
      color: darken($pale-lilac, 5%);
    }
  }
}
