
@import "~@ui.packages/theme";


.month {

  display: inline-block;
  margin: 0 20px 0 0;

  &__value {

    display: inline-block;
    vertical-align: middle;
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;
  }
}
