
@import "~@ui.packages/theme-2";


.button {

  position: relative;
  display: inline-block;
  padding: 16px 32px 14px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: $white;
  background: $primary;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 200ms;

  &:focus {

    background: $primary-darken;
  }

  &:disabled {

    background: $gray-darken;
    color: $gray-lighten;
  }
}

.in-process,
.in-process:active {

  color: transparent;
}

.mode {

  &--success {
    background: $success;

    &:active {
      background: $success-darken;
    }
  }
}
