
@import "~@ui.packages/theme-2";


.link {

  display: block;
  text-decoration: none;
  color: $white;
  border: 1px solid $gray-lighten;
  border-radius: 4px;
  padding: 12px 12px 10px;

  & + & {

    margin: 24px 0 0;
  }
}

.active {

  background: $primary;
  border-color: $primary;
}

.title {

  display: block;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: inherit;
}