
@import "~@ui.packages/theme";


.wrapper {

  position: relative;
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.page {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  overflow: hidden;
}

.aside {

  display: block;
  background: $white;
  box-shadow: 0 3px 4px 1px rgba($pale-lilac, .5);
  z-index: 20;
}

.content {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  overflow: auto;
  z-index: 10;
}
