
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  border-radius: 5px;
  border: 2px solid $pale-lilac;
  background: $white;
  padding: 24px;
  cursor: pointer;

  &:hover {
    border-color: $primary;
  }
}
