
@import "~@ui.packages/theme-2";


.wrapper {

  display: flex;
  flex: 1 0;
}

.content {

  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.logotype {

  display: block;
}

.description {

  display: block;
  margin: 40px 0 0;
  width: 400px;
  text-align: center;
}

.text {

  display: block;
  font-size: 18px;
  font-weight: 600;
  color: $white;
}

.text-2 {

  display: block;
  font-size: 16px;
  font-weight: 300;
  color: $white;
  margin: 40px 0 0;
  line-height: 1.4;
}

.phone {

  display: block;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  margin: 8px 0 0;
}

.link {

  display: inline-block;
  color: $primary;
  font-size: 13px;
}

@media screen and (max-width: 600px) {

  .description {

    padding: 0 60px;
    box-sizing: border-box;
  }
}