
@import "~@ui.packages/theme-2";


.wrapper {

  position: relative;
  display: flex;
  flex: 1 0;
}

.content {

  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.gallery {

  display: block;
  width: 100vw;
  height: 100vw;
  background: $gray-darken;
}

.title {

  display: block;
  padding: 24px 16px;
  background: $gray;
}

.modes {

  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: $gray;
  padding: 0 16px 48px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.cart {

  position: absolute;
  right: 16px;
  bottom: -30px;
}

.description {

  display: block;
  padding: 0 24px;
  margin: 40px 0 128px;

  h1 {

    font-size: 28px;
    font-weight: 700;
    color: $white;

    * {

      margin: 0 0 16px;
    }
  }

  p {

    font-size: 14px;
    font-weight: 400;
    color: $white;
    letter-spacing: .5px;

    & + * {
      margin: 8px 0 0;
    }
  }
}
