
@import "../../../../../node_modules/@ui.packages/theme";


.wrapper {

  display: block;
  width: 900px;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0 0 40px;
}


.content {

  display: block;
  border-radius: 5px;
  border: 1px solid $pale-lilac;
  background: $white;
  padding: 30px;
  margin: 6px 0 0;
}

.controls {

  display: block;
  text-align: right;
}
