
@import "~@ui.packages/theme";


.dialog {

  display: block;
  width: 380px;
  background: $white;
  border: 1px solid $pale-lilac;
  border-radius: 5px;
  padding: 50px 60px 50px;
  box-sizing: border-box;
}

.header {

  display: block;
  text-align: center;
  margin: 0 0 35px;
}

.content {

  display: block;
}

.row {

  display: block;

  & + & {
    margin: 25px 0 0;
  }
}

.controls {

  display: block;
  text-align: center;
  margin: 60px 0 0;
}
