
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  padding: 32px;
  background: $white;
  border: 1px solid $pale-lilac;
  border-radius: 8px;
}

.image {

  width: 140px;
  height: 140px;
}

.not-image {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 140px;
  height: 140px;
  font-size: 28px;
  color: $pale-lilac;
  background: $pale-grey;
  justify-content: center;
  align-items: center;
  border: 1px solid $pale-lilac;
  border-radius: 4px;
}

.row {

  display: block;
}

.title {

  display: block;
  text-decoration: underline;
}

.products {

  display: block;
  margin: 24px 0 0;
}

.mode {

  display: flex;
  flex-direction: row;
  flex: 1 0;

  & + & {
    margin: 16px 0 0;
  }
}

.vendor {

  display: block;
}

.value {

  display: block;
  margin: 0 0 0 16px;
}

.price {

  display: block;
  margin: 0 0 0 16px;
}
