
@import "~@ui.packages/theme-2";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: row;
  flex: 0 0;
  border-radius: 4px;
  background: $gray-lighten;
  padding: 8px 8px 8px 8px;
  align-items: center;
  transition: background-color 200ms;

  &:before {

    position: absolute;
    left: -8px;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $gray-lighten;
    transition: background-color 200ms;
  }

  &:after {

    transition: background-color 200ms;
  }

  & + & {
    margin: 8px 0 0;
  }
}

.active {

  background: $info-darken;

  &:before {

    background: $info-darken;
  }

  &:after {

    position: absolute;
    left: -4px;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $white;
  }
}

.count {

  position: absolute;
  right: -10px;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  background: $success;
  color: $white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 9px;
  font-weight: 600;
  padding: 3px 0 0;
  box-sizing: border-box;
  border-left: 1px solid $white;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 12px;
}

.value {

  display: inline-block;
  font-family: inherit;
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
  color: $white;
  vertical-align: middle;
  margin: 0 0 2px;
}
